<link rel = "stylesheet" type = "text/css" href = "../menu.css">
<div class = 'menu'>
     <input type = 'text' id = 'searchBar' onkeyup = 'filter()' placeholder = 'Search' title= 'Enter a stuffy'>
     <script src = '/search.js'></script>
     <div id= 'selection'>
          <% try {%>
               <% if (selectedStuffy.name && selectedStuffy.animal_type) {%>
                    <a href = '/'>Home</a>
                    <% for (let i = 0; i < options.length; i++){%>
                         <% para = '/' + options[i].name.split(' ').join('_')%>
                         <% para = para + '/'+options[i].animal_type%>
                         <% label = options[i].name+' ('+ options[i].animal_type +')'%>
                         <!--% scroll = options[i].name+'('+ options[i].animal_type +')'%-->
                         <% if (label === selectedStuffy.name + ' (' + selectedStuffy.animal_type + ')') {%>
                              <a href = "<%=para + '#active'%>" id = "active"><%=label%></a>
                         <%} else {%>
                              <a href = "<%=para + '#active'%>"><%=label%></a>
                         <%}%>
                    <%}%>
               <%}%>
          <%} catch {%>
               <a href = '/' id = 'active'>Home</a>
               <% for (let i = 0; i < options.length; i++){%>
                    <% para = '/' + options[i].name.split(' ').join('_')%>
                    <% para = para + '/'+options[i].animal_type%>
                    <% label = options[i].name+' ('+ options[i].animal_type +')'%>
                    <a href = "<%=para + '#active'%>"><%=label%></a>
               <%}%>
          <%}%>
     </div>
</div>
