<!DOCTYPE html>
<html colour-mode = "dark">
     <script src = "../retrieveColourMode.js"></script> 
     <script src = "../editPage.js"></script> 
     <head>
          <link rel = 'stylesheet' type = 'text/css' href = '/hideFOUC.css'>
          <title>Stuffy Site: <%=selectedStuffy.name%></title>
          <link rel = "stylesheet" type = "text/css" href = "../article.css">
          <link rel = "stylesheet" type = "text/css" href = "../colourmode.css">
          <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
          <link href="https://fonts.googleapis.com/css2?family=Assistant&display=swap" rel="stylesheet"> 
     </head>
     <body onload = "setCheckboxColourMode()">
          <%- include ("partials/menu.ejs")%> <!--Put the menu first as otherwise the jump to active doesnt always work?-->
          <%- include ("partials/header.ejs")%>
          <div id = "content-wrapper">
               <template id = "edit-form">
                    <form method = "post">
                         <label for = "name">Name</label>
                         <input type = "text" id = "name" name = "name">
                         <label for = "image">Image Link</label>
                         <input type = "text" id = "image" name = "image">
                         <label for = "owner">Owner</label>
                         <input type = "text" id = "owner" name = "owner">
                         <label for = "animalType">Animal Type</label>
                         <input type = "text" id = "animalType" name = "animalType">
                         <label for = "nameOrigin">Name Origin</label>
                         <textarea id = "nameOrigin" name = "nameOrigin"></textarea>
                         <label for = "origin">Origin</label>
                         <textarea id = "origin" name = "origin"></textarea>
                         <label for = "otherNotes">Other Notes</label>
                         <textarea id = "otherNotes" name = "otherNotes"></textarea>
                         <input type = "submit" value = "Submit Edits" id = "submit">
                    </form>
               </template>
               <div class = "title" id = "main-title">
                    <h1><%=selectedStuffy.name%></h1>
                    <button onclick = "editPage()">Edit</button>
               </div>
               <div id = "info-wrapper">
                    <div id ="image">
                         <img src="<%=selectedStuffy.image%>" class = "thumbnail">
                    </div>
                    <!--div class = "basic-info">
                         <p><b>Animal Type:</b> <%=selectedStuffy.animal_type%></p>
                         <p><b>Owner:</b> <%=selectedStuffy.owner%></p>
                    </div-->
                    <div id = "paragraphs">
                         <div id = "owner"> 
                              <div class = "title">
                                   <h2>Owner</h2>
                              </div>
                              <p><%=selectedStuffy.owner%></p>
                         </div>
                         <div id = "animal-type"> 
                              <div class = "title">
                                   <h2>Animal Type</h2>
                              </div>
                              <p><%=selectedStuffy.animal_type%></p>
                         </div>
                         <% if (selectedStuffy.name_origin !== null) {%>
                              <div class = "title">
                                   <h2>Name Origin</h2>
                              </div>
                              <p><%=selectedStuffy.name_origin%></p>
                         <% }%>
                         <% if (selectedStuffy.origin !== null) {%>
                              <div class = "title">
                                   <h2>Origin</h2>
                              </div>
                              <p><%=selectedStuffy.origin%></p>
                         <% }%>
                         <% if (selectedStuffy.other_notes !== null) {%>
                              <div class = "title">
                                   <h2>Other Notes</h2>
                              </div>
                              <p><%=selectedStuffy.other_notes%></p>
                         <% }%>
                    </div>
               </div>
          </div>
          <link rel = 'stylesheet' type = 'text/css' href = '/showContent.css'>
     </body>
</html>