<!DOCTYPE html>
<html colour-mode = "dark">
     <script src = "../retrieveColourMode.js"></script> 
     <script src = "../editPage.js"></script> 
     <head>
          <link rel = 'stylesheet' type = 'text/css' href = '/hideFOUC.css'>
          <title>Stuffy Site: <%=selectedStuffy.name%></title>
          <link rel = "stylesheet" type = "text/css" href = "../article.css">
          <link rel = "stylesheet" type = "text/css" href = "../colourmode.css">
          <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
          <link href="https://fonts.googleapis.com/css2?family=Assistant&display=swap" rel="stylesheet"> 
     </head>
     <body onload = "setCheckboxColourMode()">
          <%- include ("partials/menu.ejs")%> <!--Put the menu first as otherwise the jump to active doesnt always work?-->
          <%- include ("partials/header.ejs")%>
          <div id = "content-wrapper">
               <template id = "edit-form-temp">
                    <div id = "edit-form">
                         <form method = "post">
                              <label for = "name-input">Name*</label>
                              <input type = "text" id = "name-input" name = "name" required = true>
                              <label for = "image-input">Image Link*</label>
                              <input type = "text" id = "image-input" name = "image" required = true>
                              <label for = "owner-input">Owner*</label>
                              <input type = "text" id = "owner-input" name = "owner" required = true>
                              <label for = "animalType-input">Animal Type*</label>
                              <input type = "text" id = "animalType-input" name = "animalType" required = true>
                              <label for = "nameOrigin-input">Name Origin</label>
                              <textarea id = "nameOrigin-input" name = "nameOrigin"></textarea>
                              <label for = "origin-input">Origin</label>
                              <textarea id = "origin-input" name = "origin"></textarea>
                              <label for = "otherNotes-input">Other Notes</label>
                              <textarea id = "otherNotes-input" name = "otherNotes"></textarea>
                              <input type = "submit" value = "Submit Edits" id = "submit">
                              <button onclick = "cancelEdit()">Cancel</button>
                         </form>
                         <p id = "form-disclaimer">* indicates a required field</p>
                    </div>
               </template>
               <div class = "title" id = "main-title">
                    <h1><%=selectedStuffy.name%></h1>
                    <button onclick = "editPage()">Edit</button>
               </div>
               <div id = "info-wrapper">
                    <div id ="image-div">
                         <img src="<%=selectedStuffy.image%>" class = "thumbnail">
                    </div>
                    <!--div class = "basic-info">
                         <p><b>Animal Type:</b> <%=selectedStuffy.animal_type%></p>
                         <p><b>Owner:</b> <%=selectedStuffy.owner%></p>
                    </div-->
                    <div id = "paragraphs">
                         <div class = "title">
                              <h2>Owner</h2>
                         </div>
                         <p id = "owner"><%=selectedStuffy.owner%></p>
                         <div class = "title">
                              <h2>Animal Type</h2>
                         </div>
                         <p id = "animalType"><%=selectedStuffy.animal_type%></p>
                         <% if (selectedStuffy.name_origin !== null) {%>
                              <div class = "title">
                                   <h2>Name Origin</h2>
                              </div>
                              <p id = "nameOrigin"><%=selectedStuffy.name_origin%></p>
                         <% }%>
                         <% if (selectedStuffy.origin !== null) {%>
                              <div class = "title">
                                   <h2>Origin</h2>
                              </div>
                              <p id = "origin"><%=selectedStuffy.origin%></p>
                         <% }%>
                         <% if (selectedStuffy.other_notes !== null) {%>
                              <div class = "title">
                                   <h2>Other Notes</h2>
                              </div>
                              <p id = "otherNotes"><%=selectedStuffy.other_notes%></p>
                         <% }%>
                    </div>
               </div>
          </div>
          <link rel = 'stylesheet' type = 'text/css' href = '/showContent.css'>
     </body>
</html>