<!DOCTYPE html>
<html colour-mode = "dark">
     <head>
          <title>Stuffy Site: <%=selectedStuffy.name%></title>
          <link rel = "stylesheet" type = "text/css" href = "../article.css">
          <link rel = "stylesheet" type = "text/css" href = "../colourmode.css">
          <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
          <link href="https://fonts.googleapis.com/css2?family=Assistant&display=swap" rel="stylesheet">   
     </head>
     <body>
          <%- include ("partials/menu.ejs")%> <!--Put the menu first as otherwise the jump to active doesnt always work?-->
          <%- include ("partials/header.ejs")%>
          <div id = "content-wrapper">
               <div class = "title">
                    <h1><%=selectedStuffy.name%></h1>
               </div>
               <div class = "info-wrapper">
                    <div class ="image">
                         <img src="<%=selectedStuffy.image%>" class = "thumbnail">
                    </div>
                    <!--div class = "basic-info">
                         <p><b>Animal Type:</b> <%=selectedStuffy.animal_type%></p>
                         <p><b>Owner:</b> <%=selectedStuffy.owner%></p>
                    </div-->
                    <div class = "paragraphs">
                         <div class = "title">
                              <h2>Owner</h2>
                         </div>
                         <p><%=selectedStuffy.owner%></p>
                         <div class = "title">
                              <h2>Animal Type</h2>
                         </div>
                         <p><%=selectedStuffy.animal_type%></p>
                         <% if (selectedStuffy.name_origin !== null) {%>
                              <div class = "title">
                                   <h2>Name Origin</h2>
                              </div>
                              <p><%=selectedStuffy.name_origin%></p>
                         <% }%>
                         <% if (selectedStuffy.origin !== null) {%>
                              <div class = "title">
                                   <h2>Origin</h2>
                              </div>
                              <p><%=selectedStuffy.origin%></p>
                         <% }%>
                         <% if (selectedStuffy.other_notes !== null) {%>
                              <div class = "title">
                                   <h2>Other Notes</h2>
                              </div>
                              <p><%=selectedStuffy.other_notes%></p>
                         <% }%>
                    </div>
               </div>
          </div>
     </body>
</html>