<!DOCTYPE html>
<html>
     <head>
          <title>Stuffy Site: <%=name%></title>
          <link rel = "stylesheet" type = "text/css" href = "../article.css">
     </head>
     <body>
          <%- include ("partials/header.ejs")%>
          <%- include ("partials/menu.ejs")%>
          <div id = "content-wrapper">
               <div id = "title">
                    <h1><%=name%></h1>
               </div>
               <div class = "basic-info-wrapper">
                    <div class ="image">
                         <img src="<%=image%>" class = "thumbnail">
                    </div>
                    <div class = "basic-info">
                         <p><b>Animal Type:</b> <%=animal_type%></p>
                         <p><b>Owner:</b> <%=owner%></p>
                    </div>
               </div>
               <div class = "paragraphs">
                    <% if (name_origin !== null) {%>
                         <h3>Name Origin</h3>
                         <p><%=name_origin%></p>
                    <% }%>
                    <% if (origin !== null) {%>
                         <h3>Origin</h3>
                         <p><%=origin%></p>
                    <% }%>
                    <% if (other_notes !== null) {%>
                         <h3>Other Notes</h3>
                         <p><%=other_notes%></p>
                    <% }%>
               </div>
          </div>
     </body>
</html>