<!DOCTYPE html>
<html>
     <head>
          <title>Welcome to the greatest site on planet Earth!</title>
          <link rel = "stylesheet" type = "text/css" href = "homepage.css">
          <link rel = "stylesheet" type = "text/css" href = "../colourmode.css">
          <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
          <script src = "../retrieveColourMode.js"></script> 

     </head>
     <body onload = "setButtonColourMode()">
          <%- include ("partials/header.ejs")%>
          <%- include ('partials/menu.ejs')%>
          <div class = content>
               <h1>Stuffy Site</h1>
               <div id = "stuffyOfTheDayWrapper">
                    <div class = "stuffyOfTheDay">
                         <h2>Steven's Stuffy of the Day!</h2>
                         <h3><%=stevenStuffy.name%></h3>
                         <img class = "stuffyOfTheDayPic" src = "<%=stevenStuffy.image%>"> 
                    </div>
                    <div class = "stuffyOfTheDay">
                         <h2>Monica's Stuffy of the Day!</h2>
                         <h3><%=monicaStuffy.name%></h3>
                         <img class = "stuffyOfTheDayPic" src = "<%=monicaStuffy.image%>"> 
                    </div>
               </div>
          </div>
     </body>
</html>